@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Order Successful!</h1>
		Order Number : @Model <br /><br />
		<img />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		Order has been applied successfully <br />
		<a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">View Order Details</a>
	</div>
</div>